<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <% unless locals.empty? %>
      <h1><%= message %></h1>
    <% end %>
    <h1><%=@user.username%>'s Bucket List</h1>
    <%sorted_array = @user.items.sort_by{|item|-item.rank_list}%>
    <%sorted_array.each do |ranked_item|%>
      <h2>Name: <%=ranked_item.name%></h2>
      <%if ranked_item.description != ""%>
        <h4>Description: <%=ranked_item.description%></h4>
      <%end%>
      <%if ranked_item.location != ""%>
        <h4>Location: <%=ranked_item.location%></h4>
      <%end%>
      <h4>Completed: <%=ranked_item.completed%></h4>
      <h4><a href="/items/<%=ranked_item.slug%>/edit">Edit <%=ranked_item.name%></a></h4>
      <br><br>
    <%end%>
    
    
    <h3>Would You Like To Add A <a href="/items/new_bucket_list_item">New Item</a></h3>
    <h3>Would You Like To <a href="/logout">Logout</a></h3>
    <h3>Would You Like To View All Personss <a href="/items/index">Bucket List Items</a></h3>
  </body>
</html>